
{% load static %}
<title>Agenda</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
td {
    text-align: center;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('https://image.ibb.co/cOUSjz/S_56295468_cut.jpg');
    min-height: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
    .bgimg-1{
        background-attachment: scroll;
        min-height: 400px;
    }
}
</style>
<body>


<!-- Navbar -->
<div class="w3-top" style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black; padding-top:0px">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="{% url 'portofolio' %}" class="w3-bar-item w3-button">HOME</a>
    <a href="{% url 'guestBook' %}" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium" style="background-image:linear-gradient(to right, #f6f6e9, #be3737); color:black; padding-top:0px">
    <a href="{% url 'guestBook' %}" class="w3-bar-item w3-button">CONTACT</a>

  </div>
</div>

{% block content %}
    <div class="col-sm-12" style="padding-top:30px">
        <div class="container">
            <div class="container" style="padding:5vw">
                <h3>Agenda</h3>
                <table style="width:100%">
                    {% if agendas %}
                        <tr>
                            <th>Activity</th>
                            <th>Day / Date</th>
                            <th>Time</th>
                            <th>Place</th>
                            <th>Category</th>
                        </tr>
                        {% for agenda in agendas %}
                            <tr>
                                <td>{{ agenda.activity }}</td>
                                <td>{{ agenda.day }} / {{ agenda.date }}</td>
                                <td>{{ agenda.time }}</td>
                                <td>{{ agenda.place }}</td>
                                <td>{{ agenda.category }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <h5 class="red">There's no upcoming events yet, have fun!</h5>
                    {% endif %}
                </table>
                <br>
                <a href="{% url 'create_agenda' %}"><button>Create Agenda</button></a>
                <br>
                <a href="{% url 'clear_agenda' %}"><button style="margin-top:5px">Clear Agenda</button></a>
            </div>
        </div>
    </div>


      <div class="w3-row w3-padding-32 w3-section">
          <div class="w3-large w3-center" >
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Jakarta, Indonesia<br>
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +62 857 1957 0100<br>
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: alif.mahardhika@ui.ac.id<br>
        </div>
    </div>
    <div class="w3-xlarge w3-section" style="text-align:center">
      <a href="https://www.facebook.com/alif.mahardhika" style="text-decoration:none;">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
      </a>
      <a href= "https://instagram.com/alifmahardhika" style="text-decoration:none;">
        <i class="fa fa-instagram w3-hover-opacity"></i>
      </a>
      <a href= "https://linkedin.com/in/alif-mahardhika-431808156/" style="text-decoration:none;">
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </a>

    </div>

    <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    </script>

    </body>
    </html>

{% endblock %}
