.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1-blue {
    background-image:linear-gradient(to right, white, lightblue);
    height:100vw;
}

.bgimg-1-red {
    background-image:linear-gradient(to right, #f6f6e9, #be3737);
    height:100vw;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
input[type=submit] {
    width: 10em;
    height: 2em;
    font-size: 18px;
}

.status{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    padding-top: 30vw;
}

.button-lightblue {
    border: 1px dotted black;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 60%;
    background-color:lightblue;
}

.button-lightred {
    border: 1px dotted black;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 60%;
    background-color:#be3737;
}
