{% load static %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <title>bookworms</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab10.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/lab10.js' %}"></script>
</head>
<body>
    <div class="bgimg">

        <div class="inner-container-top">
            <br><h1>Subscribe to my page:</h1><br>
        </div>
        <div class="inner-container">
            <form class="form_input" method="POST" class="isi-form">
                {% csrf_token %}
                {% for field in form %}
                <p style="color: #161670;">{{ field.label_tag }}<br> {{ field }}</p>
                {% if "Name" in field.label_tag %}
                <div id="form_name" class="alert" style="margin-top:-4vh;"> *Name is required </div>
                {% elif "Email" in field.label_tag %}
                <div id="form_email" class="alert" style="margin-top:-4vh;"> *Valid email is required </div>
                <div id="form_email2" class="alert" style="margin-top:-4vh;"> *Email already registered </div>
                {% elif "Password" in field.label_tag %}
                <div id="form_password" class="alert" style="margin-top:-4vh;"> *Password is required </div>
                {% endif %}
                {% endfor %}
                <input class="submit-button" id="submit_subscribe" type="submit" value="Subscribe">
                <button class = "subsButton w3-center" id="myBtn">List of Subscribers</button>
            </form>

        </div><br><br><br><br><br>


<!-- The Modal -->
<div id="myModal" class="modal">

<!-- Modal content -->
<div class="modal-content">
<span class="close">&times;</span>
<div class="col-sm-12">
    <div class="roundedrec">
        <div class="insiderec">
            <div class="row">
                <div class="col-sm-12 signup-form">
                    <p class="judul">List of Subscribers</p>
                    <div class="table-responsive">
                        <div class="unsubBerhasil">Unsubscribed succesfully</div>
                        <table id="demo" class="table" style="font-size: 15px;">
                            <thead>
                                <tr class="table text-center">
                                    <th scope="col" class="align-middle">No</th>
                                    <th scope="col" class="align-middle">Name</th>
                                    <th scope="col" class="align-middle">Email</th>
                                    <th scope="col" class="align-middle"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

        </div>

<script type="text/javascript">

    //MODAL

    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

</script>

</body>

    <style type="text/css">
        label {
            margin-right: 0.7em; /* or larger if you need */
            margin-bottom: -1em;
        }
    </style>
{% endblock %}
