{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>your mental health matters</title>
    <link rel="icon" href="{% static 'img/hi2.png' %}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<style>

.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1-blue {
    background-image:linear-gradient(to right, white, lightblue);
    height:100vw;
}

.bgimg-1-red {
    background-image:linear-gradient(to right, #f6f6e9, #be3737);
    height:100vw;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
input[type=submit] {
    width: 10em;
    height: 2em;
    font-size: 18px;
}

.status{
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    padding-top: 30vw;
}

.button-lightblue {
    border: 1px dotted black;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 60%;
    background-color:lightblue;
}

.button-lightred {
    border: 1px dotted black;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 60%;
    background-color:#be3737;
}

</style>
<body>

    <div id="home" class="bgimg-1 bgimg-1-blue w3-container w3-opacity-min">

      <div class="w3-display-left " style="white-space:nowrap; padding-left:5vw;">
        <span id ="howru" class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"
        style=" color:black">  Hi, <span class="w3-hide-small">which color suits your mood today?  </span>
        <br>
        <div class="w3-center">
             <a href="#" data-toggle="tooltip" title="Click to Change Color" style="color:inherit">Change Color:</a>
             <br>
            <button name="button" class="button-lightblue" onclick="changeBlue()"></button>
            <button name="button" class="button-lightred" onclick="changeRed()"></button>
        </div>

      </div>

      <div class="w3-display-right" style="white-space:nowrap;padding-right: 5vw">
        <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"
        style=" color:black;"><span class="w3-hide-small "><h2>Tell a story</h2>  </span>
        <form action="{% url 'howru' %}" method="POST" class="w3-left-align isi">
            {% csrf_token %}
            {{ form }}
            <br><br>&nbsp &nbsp
            <input id= "submitbutton" type="submit" value="Share with the world" class="w3-center">
        </form>
      </div>

      <div class="w3-display-middle" style="white-space:nowrap; ">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"
        style=" color:black"><span class="w3-hide-small"><h2 class = "status" id="recorded"> People's story: </h2></span>
        <table style="width:100%">
            {% if kabar2 %}
                <!-- <tr>
                    <th>Mood</th>
                </tr> -->
                <div>
                    {% for kabar in kabar2 %}
                    <tr >
                        <td >{{ kabar.mood }}</td>
                    </tr>
                    {% endfor %}
                </div>

            {% else %}
                <h5>No Response</h5>
            {% endif %}
        </table>
        <br><br><br><br><br>
      </div>
    </div>

</body>

<script type="text/javascript">
function changeBlue(){
    document.getElementById("home").classList.add('bgimg-1-blue');
    if ( document.getElementById("home").classList.contains('bgimg-1-red') )
    document.getElementById("home").classList.remove('bgimg-1-red');

}
function changeRed(){
    document.getElementById("home").classList.add('bgimg-1-red');

}
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

</html>
