{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>how ya doin</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/lab8.css'%}">
  <link rel="stylesheet" href="{% static 'scss/lab8.scss'%}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/lab8.js' %}"></script>
  <style media="screen">
      .section-blue{
          background-color:lightblue !important;
          border: 0px;
      }
      .section-red{
          background-color:#be3737 !important;
          border: 0px;
          color: white;
      }
  </style>
  <script type="text/javascript">
  var myVar;

  function myFunction() {
      myVar = setTimeout(showPage, 3700);
  }

  function showPage() {
    document.getElementById("loader").style.display = "none";
    document.getElementById("home").style.display = "block";
  }
  </script>
</head>
<body onload="myFunction()">

    <div id = "loader" class="loader w3-center"  >
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>

    <div id = "home" class="bgimg-1 bgimg-1-blue w3-container w3-opacity-min1" style="width:100% ;display:none"  >

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="w3-left" style="padding-top:12vw; width:50%">
            <div class="w3-center">
                <img id="profile" src="https://preview.ibb.co/j9R12q/DSC07340.jpg" style="width:20%; height:auto; border-radius:50%">
            </div>
            <br><br>
            <div id="accordion">
              <h3 id = "section" class = "section-blue">Activity</h3>
              <div>
                <p>
                Saat ini sedang sibuk belajar ngoding di Fasilkom UI, ditambah berorganisasi dan rapatnya yang tiada henti Oh iya saya juga ngeband yay.
                </p>
              </div>
              <h3 id = "section2" class = "section-blue">Organizations Experiences</h3>
              <div>
                <p>
                Jadi staff acara 25th CGT, staff offmar Compfest X. Sekarang sedang jadi staff BEM Seni Budaya Fasilkom 2018, dan calon PIC of Stage Compfest 11
                </p>
              </div>
              <h3 id = "section3" class = "section-blue">Achievments</h3>
              <div>
                <p>
                Hehe achievment saya kayaknya gaada yang akademis, tapi sering menang lomba band, sering manggung lalu pernah dapet best staff offmar yay
                </p>
              </div>
            </div>
        </div>

        <div class="w3-right" style="padding-top:15vw; padding-right:4vw">
            <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"
            style=" color:black">
            <p id ="ganti">gasuka biru? ganti jadi merah aja!</p> </span>
            <br>
            <div class="w3-center">
                 <br>
                <button name="button" class="button-lightblue" onclick="changeBlue()"></button>
                <button name="button" class="button-lightred" onclick="changeRed()"></button>
            </div>

        </div>
    </div>
</body>
</html>
