{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>bookworms</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/story9.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<style media="screen">
html,
body {
  height: 100%;
  margin: 0;
  background-image:linear-gradient(to right, #6C90AB, #496D89);
}

.bgimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:linear-gradient(to right, #6C90AB, #496D89);
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 5vw;
}
</style>

<body>
  <div class="bgimg">

    <h1 style="font-weight:bold">some interesting books:</h1>

    <div class="">
      <div class="w3-third">
        <h2>Favourites: <text id="counter">0</text></h2>
      </div>
      <div class="w3-twothird " style="padding-top:1vw">
        <button class="btn btn-secondary" id="button1" onclick="quilting.call(this)">Quilting</button>
        <button class="btn btn-secondary" id="button1" onclick="quitting.call(this)">Quitting</button>
        <button class="btn btn-secondary" id="button1" onclick="music.call(this)">Music</button>
      </div>
    </div>

    <div class="roundedrec" style="margin-bottom:6.7%;">
        <div class="insiderec">
            <div class="table-responsive">
                <table id="demo" class="table table-dark" style="font-size: 15px;">
                  <div style="width:100%">
                    <th scope="col" class="align-middle">No</th>
                    <th scope="col" class="align-middle">Title</th>
                    <th scope="col" class="align-middle">Authors</th>
                    <th scope="col" class="align-middle">Publisher</th>
                    <th scope="col" class="align-middle">Published Date</th>
                    <th scope="col" class="align-middle">Cover</th>
                    <th scope="col" class="align-middle">Add to Favourite(s)</th>
                  </div>
                    <thead class="thead-dark">
                        <tr class="table" id="hai">
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <script src="{% static 'js/story9.js' %}"></script>
</body>
</html>
